<% content_for :head do %>
  <meta property="fb:app_id" content="<%= Settings.facebook_appid %>" /> 
  <meta property="og:type"   content="hicapacity:badge" /> 
  <meta property="og:url"    content="<%= badge_url(@badge.slug) %>" /> 
  <meta property="og:title"  content="<%= @badge.title %>" /> 
  <meta property="og:image"  content="<%= image_fullurl(@badge.slug) %>" />
<% end %>

<h2><%= @badge.title %></h2>
<div class="btngroup">
  <%= image_path @badge.slug %>
</div>
<%= render :partial => 'badges/descriptions/' + @badge.slug %>