<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# hicapacity: http://ogp.me/ns/fb/hicapacity#">
  <title>HI Capacity QR Contest</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header>
    <h1>HI Capacity</h1>
    <%
      if user_logged_in?
        concat link_to image_tag("//graph.facebook.com/#{current_user.use_profile_pic ? current_user.fbid : 1}/picture?width=40&height=40"), edit_user_path(current_user.fbid, :return => request.fullpath), :class => 'settings'
      end
    %>
  </header>
  <section id="public-content">
    <%= yield %>
  </section>
</body>
</html>
